  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, sans-serif;
    }

    body{
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background:#d9d9d9;
    }

    .card{
      width:350px;
      background:white;
      border-radius:20px;
      overflow:hidden;
      box-shadow:0 10px 25px rgba(0,0,0,0.3);
      text-align:center;
      position:relative;
    }

    .top{
      height:250px;
      background:linear-gradient(to bottom,#a100ff,#6a00ff);
    }

    .profile-img{
      width:120px;
      height:120px;
      border-radius:50%;
      border:6px solid white;
      object-fit:cover;
      position:absolute;
      top:190px;
      left:50%;
      transform:translateX(-50%);
    }

    .content{
      padding:90px 30px 40px;
    }

    .content h2{
      font-size:20px;
      margin-bottom:10px;
      color:#000;
    }

    .content h3{
      color:#c04cff;
      font-size:18px;
      margin: 20px;;

    }

    .text{
      font-size:18px;
      color:#222;
      line-height:1.6;
      margin-bottom:35px;
    }

    button{
      display:inline-block;
      padding:15px 40px;
      border-radius:40px;
      text-decoration:none;
      color:white;
      font-size:22px;
      font-weight:bold;
      background:linear-gradient(to right,#7b00ff,#c000ff);
      box-shadow:0 5px 10px rgba(128,0,255,0.2);
      border:none;
    }

    